#page {
    -fx-background-image: url('../imagens/plano-de-fundo.jpg');
    -fx-background-size: cover;
}

#caixaTranslucida {
    -fx-background-image: url('../imagens/Fosco.png');
}

#caixaLogo {
    -fx-background-color: #00ACD5;
}

#botaoNovoCadastro {
    -fx-background-color: #FFDB06;
    -fx-background-radius: 24;
    -fx-border-radius: 24;
    -fx-width: 180px;
    -fx-height: 40px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 6, 0, 1, 2);
}

#botaoEntrar {
    -fx-background-color: #00ACD5;
    -fx-background-radius: 24;
    -fx-border-radius: 24;
    -fx-width: 180px;
    -fx-height: 40px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 6, 0, 1, 2);
}

#botaoCancelar {
    -fx-background-color: #808080;
    -fx-background-radius: 24;
    -fx-border-radius: 24;
    -fx-width: 180px;
    -fx-height: 32px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 6, 0, 1, 2);
}

#inserirDado {
    -fx-background-color: #FFFFFF; 
    -fx-border-radius: 24;
    -fx-background-radius: 24;
    -fx-opacity: 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 6, 0, 1, 2);
}


#menuCargo {
    -fx-background-color: #FFFFFF; 
    -fx-border-radius: 24;
    -fx-background-radius: 24;
    -fx-opacity: 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 6, 0, 1, 2);
}

