#pageTop {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 6, 0, 1, 2);
}

#menuButton {
    -fx-background-color: #00ACD5; 
    -fx-border-color: #00ACD5;
    -fx-text-fill: #ffffff;
}

#menuButton:hover {
    -fx-background-color: #00ACD5; 
    -fx-border-color: #00ACD5;
    -fx-text-fill: #dbdbdb;
}

#navegationButtonClick {
    -fx-background-color: #ffffff;
    -fx-text-fill: #00ACD5;
    -fx-border-color: #00ACD5;
    -fx-border-width: 0 0 3 0; /* Espessura da borda inferior (2 pixels) */
    -fx-padding: 20 20 20 20;
}

#navegationButton {
    -fx-background-color: #ffffff;
    -fx-text-fill: #dfdfdf;
    -fx-border-color: #dfdfdf;
    -fx-border-width: 0 0 3 0; /* Espessura da borda inferior (2 pixels) */
    -fx-padding: 20 20 20 20;
}

#navegationButton:hover {
    -fx-background-color: #ffffff;
    -fx-text-fill: #c5c5c5;
    -fx-border-color: #c5c5c5;
    -fx-border-width: 0 0 3 0; /* Espessura da borda inferior (2 pixels) */
    -fx-padding: 20 20 20 20;
}

#addButton {
    -fx-background-color: #FFDB06;
    -fx-background-radius: 24;
    -fx-border-radius: 24;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 6, 0, 1, 2);
}

#addButton:hover {
    -fx-background-color: #ffce39;
    -fx-background-radius: 24;
    -fx-border-radius: 24;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 6, 0, 1, 2);
}

#spaceForFind {
    -fx-padding: 0 0 0 24;
    -fx-background-radius: 24;
    -fx-border-radius: 24;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 6, 0, 1, 2);
}

#campoDados {
    -fx-background-color: #DFDFDF; 
    -fx-border-radius: 24;
    -fx-background-radius: 24;
    -fx-opacity: 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 6, 0, 1, 2);
    -fx-padding: 0 0 0 24;
    -fx-height: 40px;
    -fx-width: 700px;
}
